MYSQL_ROOT_PASSWORD=msa_root
RABBITMQ_DEFAULT_USER=msa
RABBITMQ_DEFAULT_PASS=msa_password
MSA_CALLBACK_TOKEN=msa-worker-token
MSA_SUBMIT_LIMIT=5000
MSA_SUBMIT_WINDOW_SECONDS=60
MSA_WORKER_CONCURRENCY=2
